[POSTGRES]
DB_NAME = A REMPLIR
DB_HOST = A REMPLIR
DB_PORT = A REMPLIR
DB_USER = A REMPLIR
DB_PASSWORD = A REMPLIR

[OCSGE]
OCSGE_OCCUPATION_DU_SOL_7Z_URL = https://data.geopf.fr/telechargement/download/OCSGE/OCS-GE-NG_1-1__SHP_LAMB93_D094_2018/OCS-GE-NG_1-1__SHP_LAMB93_D094_2018.7z
OCCUPATION_DU_SOL_SHAPEFILE_NAME = OCCUPATION_SOL.shp

[DIRECTORIES]
DOWNLOAD_DESTINATION = /tmp/zipped_shapefile.7z
EXTRACT_DESTINATION = /tmp/extracted_shapefile

